.root {
    /* from stack overflow https://stackoverflow.com/questions/62359337/how-to-change-treeview-color-in-javafx-programmatically-without-using-css/62363136#62363136 */
    -fx-base: #242424 ;
    -fx-control-inner-background: derive(-fx-base,20%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background,-10%);
    -fx-accent: #006689;
    -fx-focus-color: #036E83;
    -fx-faint-focus-color: #036E8322;
}


/* Add button */
/*.button.add-button {*/
/*    -fx-background-color: #4caf50; !* muted green *!*/
/*    -fx-text-fill: #f0f0f0;*/
/*}*/

.button.add-button{
    -fx-background-color: transparent;
}

/* Delete button */
.button.delete-button {
    -fx-background-color: #d32f2f;
    -fx-text-fill: white;
}

.root .button.cancel-button {
    -fx-background-color: #d32f2f;
    -fx-text-fill: white;
}

.root .button.save-button {
    -fx-base: #242424 ;
    -fx-control-inner-background: derive(-fx-base,20%);

    -fx-text-fill: white;
    -fx-font-weight: bold;
}